<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>ブログ一覧</h1>
    <% @blogs.each do |b| %>
      <div>
        <%= link_to store_path(b.store) do %>
          <span><%= "#{b.store.store_name}" %></span></a>
        <% end %>
        <%#= link_to "#{b.store.store_name}", store_path(b.store) %>
        <%= link_to b do %>
          <span class="title"><b><%= b.blog_title %></b>|<%= b.blog_main %>|<%= b.blog_img %>|<%= b.blog_date.time.strftime("%Y年 %m月 %d日, %H:%M:%S") %></span></a>
        <% end %>
      </div>
    <% end %>
<br>

<% x='<div><span>新しいブログを作る</span></div>' %>
<%= link_to(x.html_safe, new_blog_path) %>


