<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>店舗一覧</h1>
  <article>
    <% @stores.each do |store| %>
      <div>
        <h2><%= link_to "#{store.store_name}", store %><span><%= store.store_area %></span></h2>
        <h3><%= store.stor_catch %><span><%= store.store_genre %></span></h3>
        <p>所在地：<%= store.store_address %><span><%= tel_to "#{store.store_tel}" %></span></p>
      </div>
    <% end %>
  </article>

<br>

<%= link_to 'New Store', new_store_path %>
