<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<article>
  <div>
    <h2><%= @store.store_name %><span><%= @store.store_area %></span></h2>
    <h3><%= @store.stor_catch %><span><%= @store.store_genre %></span></h3>
    <p>所在地：<%= @store.store_address %><span><%= tel_to "#{@store.store_tel}" %></span></p>

<p>
  <strong>説明:</strong>
  <%= @store.store_description %>
</p>
<p>
  <strong>行き方:</strong>
  <%= @store.store_access %>
</p>

<p>
  <strong>TEL:</strong>
  <%= @store.store_tel %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @store.store_email %>
</p>

<p>
  <strong>URL:</strong>
  <%= @store.storeurl %>
</p>

<p>
  <strong>動画:</strong>
  <%= @store.store_movie %>
</p>

<h2>ブログ<span><%= @store.blogs.count %>件</span></h2>

  
    <% @store.blogs.each do |blog| %>
        <%= link_to blog_path(blog) do %>
          <h3><strong><%= "#{blog.blog_title}" %></strong>
          <%= blog.blog_date.time.strftime("%Y年 %m月 %d日, %H:%M:%S") %>
          </h3></a>
        <% end %>
    <% end %>
  


<p><%= link_to 'Destroy', store_path, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
</article>






<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'ブログを書く', new_blog_path(store_id: @store.id) %>
<%= link_to 'Back', stores_path %>
